<h2>商品新規登録</h2>

  <%= form_with model: @item, url: admin_items_path, local: true do |f| %>
    <div>
      <label for="item_image">商品画像</label>
      <%= f.file_field :image, accept: "image" %>
    </div>
    <div>
      <label for="item_name">商品名</label>
      <%= f.text_field :name, placeholder:"商品名" %>
    </div>
    <div>
      <label for="item_introduction">商品説明</label>
      <%= f.text_area :introduction, placeholder:"商品説明" %>
    </div>
    <div>
      <label for="item_price">税抜価格</label>
      <%= f.text_field :price, placeholder:"税抜価格" %>
    </div>
    <div>
      <%= f.submit "新規登録" %>
    </div>
  <% end %>
