<div class="container">
  
  <div class="col-sm-10">
    <h2>注文履歴詳細</h2>
  </div>
  
  <%= form_with model: @order, url: admin_order_path, method: :patch, local: true do |f| %>
    <table>
      <tr>
        <th>購入者</th>
        <td></td>
      </tr>
      <tr>
        <th>注文日</th>
        <td></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td></td>
      </tr>
      <tr>
        <th>支払方法</th>
        <td></td>
      </tr>
    </table>
  <% end %>
  
  <div class="row">
    <div class="col-sm-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="table-active">商品名</th>
            <th class="table-active">単価</th>
            <th class="table-active">数量</th>
            <th class="table-active">小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_details.each do |order_detail| %>
          <tr>
            <td class="align-middle"><%= order_detail.item.name %></td>
            <td class="align-middle"><%= order_detail.tax_included_price %></td>
            <td class="align-middle"><%= order_detail.amount %></td>
            <td class="align-middle"><%= order_detail.tax_included_price * order_detail.amount %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <table>
        <tr>
          <th>商品合計</th>
          <td>
            
          </td>
        </tr>
        <tr>
          <th>送料</th>
          <td>800円</td>
        </tr>
        <tr>
          <th>請求金額合計</th>
          <td></td>
        </tr>
      </table>
    </div>
    
  </div>
  
</div>
