<div class="container">
    
  <div class="row">
    <div>
      <h2>ショッピングカート</h2>
    </div>
    <% unless @cart_items.empty? %>
    <div>
      <%= link_to "カートを空にする", cart_items_destroy_all_path, id: "all-delete", method: :delete, data: { confirm: '削除しますか？' }, class:"nav-link text-dark" %>
    </div>
    <% end %>
  </div>
  
  <% if @cart_items.empty? %>
    <div></div>
    <div>
      <h2>カートに商品が入っておりません</h2>
      <%= link_to "買い物を続ける", items_path, class: "btn btn-primary" %>
    </div>
    <div></div>
  <% else %>
  <div class="row">
    <div>
      <table>
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @total_amount = 0 %>
          <% @cart_items.each.with_index(1) do |cart_item, i| %>
            <tr>
              <td>
                <%= image_tag cart_item.item.get_image(100,100) %>
                <%= cart_item.item.name %>
              </td>
              <td>¥<%= cart_item.item.tax_included_price %></td>
              <td>
                <%= form_with model: cart_item, local: true do |f| %>
                  <%= f.number_field :amount, in: 1..10, step: 1, id: "amount-number-field-#{i}" %>
                  <%= f.submit "変更", class: "btn btn-success" %>
                <% end %>
              </td>
              <td>¥<%= amount = cart_item.item.tax_included_price * cart_item.amount %></td>
              <td>
                <%= link_to "削除する", cart_item_path(cart_item), class: "btn btn-danger", id: "cart-item-delete-#{i}", method: :delete, data: { confirm: '削除しますか？' } %>
              </td>
            </tr>
            <% @total_amount += amount %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  
  <div>
    <div>
      <%= link_to "買い物を続ける", items_path, class: "btn btn-primary" %>
    </div>
    <div>
      <table class="table table-bordered">
        <tr>
          <th class="table-active" style="width:50%">合計金額</th>
          <td style="width:50%">¥<%= @total_amount %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 px-sm-0 mx-auto text-center mb-3">
      <%= link_to "情報入力へ進む", new_order_path, data: {"turbolinks" => false}, class: "btn btn-success" %>
    </div>
  </div>
  <% end %>
  
</div>
