<div class="container">
  
  <div class="row my-3">
    <div class="col-sm-10 px-sm-0 mx-auto">
      <h2 class="table-active text-center" style="width:25%">注文情報入力</h2>
      <%= form_with model: @order, url:order_check_path, local:true do |f| %>
      <h4 class="mt-2"><b>支払方法</b></h4>
      <%= f.radio_button :payment_option, 0, checked: true, class: "ml-4" %>クレジットカード<br>
      <%= f.radio_button :payment_option, 1, class: "ml-4" %>銀行振込
      <h4 class="mt-2"><b>お届け先</b></h4>
      <%= f.radio_button :address_option, 0, checked: true, class: "ml-4" %>ご自身の住所<br>
      <div class="ml-5">
        <%= "〒#{current_customer.postal_code} #{current_customer.address}" %><br>
        <%= current_customer.last_name + current_customer.first_name %><br>
      </div>
      <%= f.radio_button :address_option, 1, class: "ml-4" %>新しいお届け先<br>
      <table class="ml-5">
        <tr>
          <td>郵便番号(ハイフンなし)</td>
          <td><%= f.text_field :postal_code, placeholder: "000000" %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", size: 50 %></td>
        </tr>
        <tr>
          <td>宛名</td>
          <td><%= f.text_field :name, placeholder: "令和道子" %></td>
        </tr>
      </table>
      <div class="text-center mt-3"><%= f.submit "確認画面へ進む", class: "btn btn-primary" %></div>
      <% end %>
    </div>
  </div>
  
</div>
