<div class="container">
  
  <div class="row mt-4">
    <div class="col-sm-4 px-sm-0 offset-sm-1">
      <h2 class="table-active text-center" style="width:35%">ログイン</h2>
    </div>
  </div>
  
  <div class="row my-3">
    <div class="col-sm-4 px-sm-0 offset-sm-1">
      <h4 class="table-active text-center" style="width:90%">会員の方はこちらからログイン</h4>
    </div>
  </div>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row my-3">
    <div class="col-sm-2 px-sm-0 offset-sm-1">
      <%= f.label "メールアドレス" %>
    </div>
    <div class="col-sm-3 px-sm-0">
      <%= f.email_field :email, autofocus: true, placeholder: "sample@example.com", size: 50 %>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-sm-2 px-sm-0 offset-sm-1">
      <%= f.label "パスワード" %>
    </div>
    <div class="col-sm-3 px-sm-0">
      <%= f.password_field :password, size: 50 %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-6 offset-sm-1">
      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      <% end %>
      <div class="text-center">
        <%= f.submit "ログイン", class:"btn btn-primary px-4 mt-3 mb-5" %>
      </div>
    </div>
  </div>
  <% end %>
  
  <div class="row mt-3">
    <div class="col-sm-4 px-sm-0 offset-sm-1">
      <h4 class="table-active text-center" style="width:85%">会員登録がお済みでない方</h4>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-6 offset-sm-1 text-center">
      <%= link_to "こちら", new_customer_registration_path %>から新規登録を行なってください。
    </div>
  </div>
  
</div>
