<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/c913cccd76.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-dark navbar-expand-lg bg-light">
        <div class="container">
          <div class="navbar-brand">
            <%= link_to "nagano-cake", root_path, class:"nav-link text-dark" %>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <li class="nav-link">
                  <%= link_to "Items", admin_items_path, class:"nav-link text-dark" %>
                </li>
                <li class="nav-link">
                  <%= link_to "Users", admin_customers_path, class:"nav-link text-dark" %>
                </li>
                <li class="nav-link">
                  <%= link_to "Order history", admin_orders_path, class:"nav-link text-dark" %>
                </li>
                <li class="nav-link">
                  <%= link_to "Log out", destroy_admin_session_path, method: :delete, class:"nav-link text-dark" %>
                </li>
              <% elsif customer_signed_in? %>
                <li class="nav-link">
                  <%= link_to "My page", customers_my_page_path, class:"nav-link text-dark"  %>
                </li>
                <li class="nav-link">
                  <%= link_to "Items", items_path, class:"nav-link text-dark"  %>
                </li>
                <li class="nav-link">
                  <%= link_to "Cart", cart_items_path, class:"nav-link text-dark"  %>
                </li>
                <li class="nav-link">
                  <%= link_to "Log out", destroy_customer_session_path, method: :delete, class:"nav-link text-dark"  %>
                </li>
              <% else %>
                <li class="nav-link">
                  <%= link_to "About", about_path, class:"nav-link text-dark"  %>
                </li>
                <li class="nav-link">
                  <%= link_to "Items", items_path, class:"nav-link text-dark"  %>
                </li>
                <li class="nav-link">
                  <%= link_to "Sign up", new_customer_registration_path, class:"nav-link text-dark"  %>
                </li>
                <li class="nav-link">
                  <%= link_to "Sign in", customer_session_path, class:"nav-link text-dark"  %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <% flash.each do |message_type, message| %>
      <%= content_tag :div, message, class: message_type %>
    <% end %>
    
    <main>
      <%= yield %>
    </main>
    
    <footer>
      <div class="container, bg-light">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
    
  </body>
</html>
